.charlist_content {
    width: 63%;
}

.charlist_items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.charlist_card {
    width: 200px;
    margin-right: 25px;
    box-shadow: 5px 5px 20px rgb(0 0 0 / 25%);
    margin-bottom: 30px;
}

.charlist_card div {
    padding: 15px;
    height: 118px;
    background-color: #232222;
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
}

.charlist_card img {
    margin-bottom: -3px;
}

.charlist_content a div {
    width: 170px;
}

.charlist_btn {
    display: flex;
    justify-content: center;
}